# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @J-GWorld
.circleci/                           @J-GWorld
development/                         @J-GWorld
